
<div class="container"> 
  <div class="jumbotron">
     
    <ul class="timeline">
        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Iphone 7</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/11/2020</small></p>
            </div>
            <div class="timeline-body">
               Iphone 7 have been repaired for the screen broken issue. Total payment 43$ has been paid. 
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Samsung LED Tv</h4>
                            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 23/11/2020</small></p>
            </div>
            <div class="timeline-body">
               Samsung LED tv has been repaired and paird 33$ with cash. Extra covering parts also requested.
            </div>
          </div>
        </li>
        
    </ul>
</div>
</div>