 
<div class="container  ">
  <div class="jumbotron">
  

  <div class="timeline">
    <ul>
      <li>
        <span>11/02/2020</span>
        <div class="content">
          <h3>Your HP Laptop has repair request has been recived</h3>
          <p>
            Fault : Screen damaged <br>
            Product name : HP Pavelion B2 Laptop <br>
            Time : 11:02:2020 09.20am <br>
          </p>
        </div>
      </li>
          <li>
        <span>12/02/2020</span>
        <div class="content">
          <h3>Your HP Laptop has repair request has been opened</h3>
          <p>
            Fault : Screen damaged <br>
            Product name : HP Pavelion B2 Laptop <br>
            Time : 12:02:2020 09.20am <br>
            Technition : Jo mathew
          </p>
        </div>
      </li>
          <li>
        <span>13/02/2020</span>
        <div class="content">
          <h3>Your HP Laptop is under repairing</h3>
          <p>
            Fault : Screen damaged <br>
            Product name : HP Pavelion B2 Laptop <br>
            Time : 13:02:2020 03.20am <br>
            Technition : Jo mathew
          </p>
        </div>
      </li>
    </ul>
  </div>

 </div>
</div>