
<div class="container">
  <div class="jumbotron">
     <h1>Contact us</h1>
  <p> We will be responding for your enquiries as soon as possbile.  
  </p>
<br>


<mat-card>
<div class="row"> 
  <div class="col-sm-4"> 
  <mat-form-field  class="example-full-width">
  <mat-label>Please select a category</mat-label>
  <mat-select   required>
  <mat-option>--</mat-option>
  <mat-option *ngFor="let Categories of Categories" [value]="Categories.value" >
  {{Categories.viewValue}}
  </mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  <div class="col-sm-4">
  <mat-form-field class="example-full-width">
  <mat-label>Please select a sub-category</mat-label>
  <mat-select   required>
  <mat-option>--</mat-option>
  <mat-option *ngFor="let subCategories of subCategories" [value]="subCategories.value" >
  {{subCategories.viewValue}}
  </mat-option>
  </mat-select>
  </mat-form-field>
  </div>
  <div class="col-sm-4"> 
  <mat-form-field class="example-full-width">
  <mat-label>Please select a fault</mat-label>
  <mat-select   required>
  <mat-option>--</mat-option>
  <mat-option *ngFor="let Faults of Faults" [value]="Faults.value" >
  {{Faults.viewValue}}
  </mat-option>
  </mat-select>
  </mat-form-field>
  </div>
</div>

<div class="row"> 
<div class="col-sm-8"> 
 
 
<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave your enquiries" rows="5"></textarea>
  </mat-form-field>

    <button mat-raised-button color="primary">Send <mat-icon>send </mat-icon> </button>


</div>
</div>

</mat-card>





  </div>
</div>