
<div class="container">
  <div class="jumbotron">
  <h1>Welcome user</h1>
  <p> To Blackwhite technologies repair application management tool.  
  </p>
  <br>
    <div class="row"> 
      <div class="col-sm-4"> 
        <mat-card>
          <mat-card-header  class="dk_no_margin">
          <mat-card-title>Order status <mat-icon>alarm</mat-icon></mat-card-title>
          <mat-card-subtitle>Your recent order status</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          Your product Iphone 7 is under repairing. 
          <br>
          <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
          40%
          </div>
          </div>
          <br>
          Estimated hours to complete is 7 hrs
          </mat-card-content>
          <mat-card-actions>
          <button mat-raised-button color="primary">Go to tracking</button>
          <button mat-raised-button color="warn">Contact</button>
          </mat-card-actions>
        </mat-card> 
      </div>
      <div class="col-sm-4"> 
        <mat-card>
          <mat-card-header  class="dk_no_margin">
          <mat-card-title>Previous orders <mat-icon>timeline</mat-icon></mat-card-title>
          <mat-card-subtitle>Your previous successfull orders</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> 
          <mat-list  >
          <mat-list-item> Samsung Laptop 2Gb </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> Real me 5s </mat-list-item> 
          </mat-list>
          </mat-card-content>
          <mat-card-actions>
          <button mat-raised-button color="primary">Go to tracking</button>
          <button mat-raised-button color="warn">Contact</button>
          </mat-card-actions>
        </mat-card> 
      </div>
      <div class="col-sm-4"> 
        <mat-card>
          <mat-card-header  class="dk_no_margin">
          <mat-card-title>Recent notifications <mat-icon>add_alert</mat-icon></mat-card-title>
          <mat-card-subtitle>Your most recent notifications</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> 
          <mat-list  >
          <mat-list-item> Your Laptop has been repaired . </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> Your repair request has accepted. </mat-list-item>
          </mat-list>
          </mat-card-content>
          <mat-card-actions>
          <button mat-raised-button color="primary">Go to tracking</button>
          <button mat-raised-button color="warn">Contact</button>
          </mat-card-actions>
        </mat-card> 
      </div>
    </div>
  </div>
</div>  