 
<div class="container">
  <div class="jumbotron">
    <h1>Welcome user</h1>
    <p> To Blackwhite technologies repair application management tool.  
  </p>
  </div>
   

<div class="row"> 

<div class="col-sm-4"> 
    <!-- Modal content-->
    <div class="modal-content dk_home_card"  >
      <div class="modal-header">
         <h4 class="modal-title">Order status <mat-icon>av_timer</mat-icon></h4>
      </div>
      <div class="modal-body">
        <p>Your product Iphone 7 is under repairing.</p>
<br>
    <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40%
    </div>
    </div>
      </div>
      
    </div>
</div>
<div class="col-sm-4"> 
    <!-- Modal content-->
    <div class="modal-content dk_home_card"  >
      <div class="modal-header">
         <h4 class="modal-title">Recent notifications <mat-icon>alarm</mat-icon></h4>
      </div>
<div class="modal-body">
<ul class="list-group">
<li class="list-group-item">Your Laptop has been repaired. </li>
<li class="list-group-item">Payment recived ! </li> 
</ul>
</div>
     
    </div>
</div>
<div class="col-sm-4"> 
    <!-- Modal content-->
    <div class="modal-content dk_home_card"  >
      <div class="modal-header">
         <h4 class="modal-title">Previous orders <mat-icon>timeline</mat-icon></h4>
      </div>
<div class="modal-body">
<ul class="list-group">
<li class="list-group-item">Samsung x3 
  <a href="#" class="dk_black_white dk_align_right dk_hov">Click to view</a>  
</li>
<li class="list-group-item">HP Laptop 
  <a href="#" class="dk_black_white dk_align_right dk_hov">Click to view</a> 
</li> 
</ul>
</div>
     
    </div>
</div>
 

</div>

 


   

</div>  