.dk_shad{
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.5);
}
 
  
 .user_img{
  width: 150px;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 20%;
 }
.dk_bottom_margin{
  margin-bottom: 20px;
}

   @media screen and (max-width: 575px) {
  
   .dk_bottom_margin{
  margin-bottom: 20px;
 }
  }

  .example-full-width {
  width: 100%;
}