
<div class="container  ">
  <div class="jumbotron">
    <form [formGroup]="user_profile" novalidate>

    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
      <!--<img src="../assets/images/user_default.png" class="user_img">-->
      <img *ngIf="user.photoUrl" class="card-img-top img-responsive photo user_img" src="{{ user.photoUrl }}">
      </div>
      <div class="col-sm-4"></div>    
    </div>

    <div class="row"> 
      <div class="col-sm-4"> 
        <div class="  dk_bottom_margin">
          <mat-card>
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Your full name" value="" formControlName="full_name">   
          <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          </mat-card>
        </div>
      </div>
    <div class="col-sm-4"> 
      <div class="  dk_bottom_margin">
        <mat-card>  
        <mat-form-field class="example-full-width">
        <span matPrefix>+353 &nbsp;</span>
        <input type="tel" matInput placeholder="Telephone" formControlName="user_phone">
        <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </mat-card> 
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="  dk_bottom_margin">
        <mat-card>
        <mat-form-field class="example-full-width">
        <input matInput placeholder="Email ID" value="" formControlName="user_email">
        <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8"> 
      <div class="  dk_bottom_margin">
        <mat-card>
        <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Address" rows="5" formControlName="user_address"></textarea>
        <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </mat-card>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="  dk_bottom_margin">
        <mat-card>
        <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" formControlName="user_dob">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        </mat-card>
      </div>
      <button mat-raised-button color="primary" (click)="getData()">Update info 
        <span class="glyphicon glyphicon-send 
"></span>
      </button>
    </div>
    </div>
  </form>
  </div>
</div>