<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-wrench 
      "></span>
      BW | Repair Application  </a>  
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav"> 
      <li> 
        <a routerLink="Dashboard"> <span class="glyphicon glyphicon-tree-conifer"></span> Dashboard</a>
      </li>
      <li>
        <a routerLink="Profile"> <span class="glyphicon glyphicon-user"></span> Profile
        </a>
      </li>
      <li>
        <a  routerLink="Notifications"> <span class="glyphicon glyphicon-bell"></span>
          <span matBadge="4" matBadgeOverlap="false">Alerts</span>
      </a>
      </li>
      <li>
        <a routerLink="History"> <span class="glyphicon glyphicon-book"></span> History
        </a>
      </li>
      <li>
        <a routerLink="Repair"> <span class="glyphicon glyphicon-export"></span> Repair request
        </a>
      </li>
      <li>
        <a routerLink="Tracking"> <span class="glyphicon glyphicon-time"></span> Track order
        </a>
      </li>
      <li>
        <a href="#0"> <span class="glyphicon glyphicon-tower"></span> Buy parts
        </a>
      </li>
      <li>
        <a href="https://blackwhitetechnologies.com/" target="_blank"> 
          <span class="glyphicon glyphicon-shopping-cart"></span> Shopping
        </a>
      </li>
      <li>
        <a routerLink="Contact"> <span class="glyphicon glyphicon-phone-alt"></span> Contact
        </a>
      </li>
      <li>
        <a href="#">Log out <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
      </ul>
    </div>
  </div>
</nav> 